.comment-item {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-item img {
    width: 7rem;
    height: 7rem;
    margin-right: 1.2rem;
}

.comment-info {
    vertical-align: top;
    display: inline-block;
}

/* reply */
.reply {
    margin-left: 8.2rem;
    margin-bottom: 1rem;
    /* padding: 0; */
}

.reply img {
    width: 3.5rem;
    height: 3.5rem;
}

/* vote */
.vote {
    display: inline-block;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #EEEEEE;
    text-align: center;
    vertical-align: middle;
}

.up:hover, .upvoted {
    background: rgb(27, 165, 0);
    color: white;
}

.down:hover, .downvoted {
    background: rgb(255, 60, 0);
    color: white;
}

.vote .fa-solid {
    transform: translateY(25%);
    -webkit-text-stroke: 1.25px;
}

.point-container p {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 2rem;
}