.comment-item {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-item img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.2rem;
}

.comment-info {
    vertical-align: top;
    /* display: inline-block; */
}

/* reply */
.reply {
    margin-left: 8.2rem;
    margin-bottom: 1rem;
    /* padding: 0; */
}

.reply img {
    width: 3.5rem;
    height: 3.5rem;
}

/* vote */
.vote {
    display: inline-block;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #EEEEEE;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.up:hover, .upvoted {
    background: rgb(27, 165, 0);
    color: white;
    padding-top: 5px;
}

.down:hover, .downvoted {
    background: rgb(255, 60, 0);
    color: white;
    padding-top: 5px;
}

.point-container p {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.name-date {
  margin-bottom: 5px;
}

@media screen and (max-width: 720px) {
    .comment-item img {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1.2rem;
    }

  .reply {
    margin-left: 5rem;
    margin-bottom: 1rem;
    /* padding: 0; */
  }
}