.divider {
    margin-top: 40px;
}

.divider h2 {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #bbb; 
    line-height: 0.1em;
} 

.divider h2 span { 
    background:#fff;
    padding-right: 40px;
}

.article-container {
    width: 65.6vw;
}

.article-container h1 {
    margin-bottom: 20px;
}

.content-container {
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vert-divider {
    border-right: 1px solid #bbb;
}

.side-container {
}