.divider {
    margin-top: 40px;
}

h2 {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #bbb; 
    line-height: 0.1em;
 } 
 
 h2 span { 
    background:#fff;
    padding-right: 40px;
 }

 .article-container h1 {
    margin-bottom: 20px;
 }

 /* .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
 } */